<div class="panel panel-primary" id="groupListPanel" style="overflow: hidden;">
	<div class="panel-heading">
		<h4 class="panel-title">Groups</h4>
	</div>
	<div style="padding-left:5px; max-height: 166px; overflow-y: scroll; margin-bottom: 10px;">
		{{#each this.Groups}}
			{{#if this.Name}}
				<div id="{{this.Name}}-groupSelection" onClick='togglePanelSelection(this);' class="myHandCursor" ng-click='selectGroup("{{this.Name}}")'>{{this.Name}}</div>
			{{/if}}
		{{/each}}
	</div>
</div>