<div class="btn-group-vertical" role="group" aria-label="Actions">
	<button type="button" class="btn btn-default myBtn-blueBackground">Load group</button>	
	<button type="button" class="btn btn-default myBtn-blueBackground">Add to group</button>
	<button type="button" class="btn btn-default myBtn-blueBackground">Remove from group</button>
	<button type="button" class="btn btn-default myBtn-blueBackground">Print all selected</button>	
	<button type="button" class="btn btn-default myBtn-blueBackground">Compare selected</button>
</div>