<div class="btn-group-vertical" role="group" aria-label="Actions">
	<button type="button" class="btn btn-default myBtn-blueBackground" data-toggle="modal" data-target="#myModalAddGroup">Add group</button>
	<button type="button" class="btn btn-default myBtn-blueBackground" ng-click='removeGroup()'>Remove group(s)</button>
	<button type="button" class="btn btn-default myBtn-blueBackground" data-toggle="modal" data-target="#myModalRenameGroup">Rename group</button>	
	<button type="button" class="btn btn-default myBtn-blueBackground">Remove from group</button>
</div>
{{> groupMenuModals }}