<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script type="text/javascript">
  var socket = io.connect('{{url}}');
  socket.on('updateGroupList', function (data) {
    if(data.status) {
      if(typeof data.group === 'object' && data.group.constructor === Array) {
        data.group.forEach(function(grp) {
          if(grp.status && grp.name && !grp.delete) $('#groupList').append('<div id="'+ fixMyID(grp.name) +'-selection" onClick="togglePanelSelection(this);" class="myHandCursor" ng-click=\'selectGroup("' + fixMyID(grp.name) + '")\'>'+grp.name+'</div>');
          else $(fixMyID(grp.Name) + '-selection').fadeOut('slow', function() { $(this).remove();});
        });
      } else {
        var shallDelete = data.hasOwnProperty('group') && data.group.hasOwnProperty('delete') ? data.group.delete : data.delete;
        var name = typeof data.group === 'object' ? data.group.name : data.name;        
        if(name && !shallDelete) {
          $('#groupList').append('<div id="'+ fixMyID(name) +'-selection" onClick="togglePanelSelection(this);" class="myHandCursor" ng-click=\'selectGroup("'+fixMyID(name)+'")\'>'+name+'</div>');           
          $('#' + fixMyID("No groups found") + '-selection').fadeOut('slow', function() { $(this).remove();});
        } else if(name && shallDelete) $('#' + fixMyID(name) + '-selection').fadeOut('slow', function() { $(this).remove();});
      }
    }    
  });
  function socketRenameGroup(oldName, newName, callBack) {
    var ourJson = {oldName: oldName, newName: newName};
    socket.emit('renameGroup', ourJson, function(error, message) {
      if(isFunction(callBack)) {
        callBack(!error ? {success: true, message: message, groupName: newName} : {success: false, message: message, error: error});
      }
    });
  }
  function socketGetGroup(name, callBack) {
    socket.emit('getGroup', name, function(error, message) {
      if(isFunction(callBack)) {
        callBack(!error ? {success: true, error: null, groupInfo: message} : {success: false, error: error, groupInfo: null});
      }
    });
  }
</script>
<div class="panel panel-default">
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
        <div ng-app="myApp" ng-controller="myGroupAdminCtrl">
  				<div class="col-md-2">
  					{{> leftGroupAdminMenuBar }}
  				</div>        
  				<div class="col-md-8">
            <div class="selectedServers" ng-animate="{enter:'insert-enter', leave:''}" style="-webkit-transition-delay:500ms"  ng-repeat="group in groups">  
              <h3>{[{ group.name }]}</h3>
              <table class="table table-hover" style="margin-left: 25px;">
                <tr class="serverHeader-no-hover">
                  <th>Server Name</th>
                </tr>
                <tr ng-repeat="server in group.servers">
                  <td valign="top" style="padding-left:25px;padding-bottom:0px;padding-top:0px;">{[{ server }]}</td>
                </tr>
              </table>
            </div>
          </div>
  				<div class="col-md-2">					
  				  {{> groupList body }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var app = angular.module('myApp', ['ngAnimate']);
  
  setAngularBracket(app);
  app.controller('myGroupAdminCtrl', function($scope, $http) {
    $scope.addGroupInput = null;
    $scope.groups = new Array();

    $scope.$watch('addGroupInput', function (newValue, oldValue) {
      if(newValue == "")
        $scope.addGroupInput = null;
    });
    $scope.$watch('renameGroupInput', function (newValue, oldValue) {
      if(newValue == "")
        $scope.renameGroupInput = null;
      else if(newValue) {
        angular.element('#myModalRenameLabelGroupInfo').html('<font size="1">from name \'' + $scope.renameGroupInput + '.\'</font>');
      }
    });
    $scope.selectGroup = function(groupIdName) { 
      var element = angular.element('#'+groupIdName + '-selection');
      if(element.hasClass('alert-info')) {
        $scope.renameGroupInput = element.text();
        $scope.prevName = element.text();       
      }
      socketGetGroup(element.text(), function(feedBack) {
        if(feedBack.success) {
          $(feedBack.groupInfo.Groups).each(function(index, ourGroup) {     
            var groupExists = $.grep($scope.groups, function(group){
              return group.name == ourGroup.name; 
            });
            if(groupExists.length > 0) {
              $scope.groups = $.grep($scope.groups, function(group) { 
                return group.name != ourGroup.name; 
              });
            } else $scope.groups.push(ourGroup);              
          });            
        }
      }); 
      if(angular.element('.alert-info').length == 0) $scope.renameGroupInput = null;
    }
    $scope.renameGroup = function() {
      socketRenameGroup($scope.prevName, $scope.renameGroupInput, function(data) {
        if(data.success) {
          if($('#formGroupRenameGroup').hasClass('has-error')) {
            $('#formGroupRenameGroup').removeClass('has-error');
            $('#formGroupRenameGroup > span').remove();
            $('#formGroupRenameGroup > div').remove();
          }
          if($('#formGroupRenameGroup').hasClass('has-success')) {
            $('#formGroupRenameGroup').removeClass('has-success has-feedback');
            $('#formGroupRenameGroup > span').remove();
          }
          setTimeout(function() {
            $('#formGroupRenameGroup').addClass('has-success').addClass('has-feedback').append('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> <span id="myAddgroupInputStatus" class="sr-only">(success)</span>');
            $scope.prevName = data.groupName;
          }, 800);          
        } else {
          $('#formGroupRenameGroup > div').remove();
          $('#formGroupRenameGroup').addClass('has-error').addClass('has-feedback').append('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span id="myAddgroupInputStatus" class="sr-only">(error)</span><div class="alert alert-danger myCreateGroupErrorLabel" role="alert">Some error happened, alert administrator if it persists</div>');
        }
      });
    }
    $scope.createGroup = function() {
      var groupNames = new Array();      

      var els = angular.element('#groupList > div');
      angular.forEach(els, function(el) {
        groupNames.push(el.innerText);
      });
      var validName = $scope.addGroupInput.toLowerCase() != "no groups found" && groupNames.indexOf($scope.addGroupInput) == -1 ? true : false; 

      if(validName) {
        $http.post('/GroupAdmin', 
          { groupName: $scope.addGroupInput }
        ).success(
          function(data, status, headers, config) {
            if(data.success) {
              if($('#formGroupAddGroup').hasClass('has-error')) {
                $('#formGroupAddGroup').removeClass('has-error');
                $('#formGroupAddGroup > span').remove();
                $('#formGroupAddGroup > div').remove();
              }
              $('#formGroupAddGroup').addClass('has-success').addClass('has-feedback').append('<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> <span id="myAddgroupInputStatus" class="sr-only">(success)</span>');
              setTimeout(function() {
                $('#myModalAddGroup').modal('hide');
                $('#formGroupAddGroup').removeClass('has-success has-feedback');
                $('#formGroupAddGroup > span').remove();
              }, 2000);
            } else {
              $('#formGroupAddGroup > div').remove();
              $('#formGroupAddGroup').addClass('has-error').addClass('has-feedback').append('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span id="myAddgroupInputStatus" class="sr-only">(error)</span><div class="alert alert-danger myCreateGroupErrorLabel" role="alert">Some error happened, alert administrator if it persists</div>');
            }
          }   
        ).error(
          function(data, status, headers, config) {
            $('#formGroupAddGroup').addClass('has-error').addClass('has-feedback').append('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span id="myAddgroupInputStatus" class="sr-only">(error)</span><div class="alert alert-danger myCreateGroupErrorLabel" role="alert">'+headers+'</div>');
          }
        );
      } else {
        if(!$('#formGroupAddGroup').hasClass('has-error')) {
          $('#formGroupAddGroup').addClass('has-error').addClass('has-feedback').append('<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span id="myAddgroupInputStatus" class="sr-only">(error)</span><div class="alert alert-danger myCreateGroupErrorLabel" role="alert">Name already exists or is invalid</div>');
        }
      }
    }
    $scope.removeGroup = function() { 
      var groupNames = new Array();

      var els = angular.element('.alert-info');
      angular.forEach(els, function(el) {
        if("No groups found" != el.innerText) groupNames.push(el.innerText);
      });
      if(groupNames.length > 0) {
        $http(
          { url: '/GroupAdmin', 
            method: 'DELETE', 
            data: {groupName: groupNames}, 
            headers: {"Content-Type": "application/json;charset=utf-8"}
          }
        );
      }
    }
  });
</script>