<div class="panel panel-default">
	<div class="panel-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					{{> leftDiskReportMenuBar }}
				</div>
        <div ng-app="mySelectServersApp" ng-controller="mySelecedServersCtrl">
  				<div class="col-md-8">
  			    <div class="alert alert-info" role="alert" style="padding: 0px; margin-bottom: 1px;"><b>All Detected Servers Total Storage:</b> <span id="AllTotalStorage">{{ body.TotalStorage.TotalCollectionStorage }} bytes</span></div>					
  			    <div class="alert alert-info" role="alert" style="padding: 0px; margin-bottom: 1px;"><b>All Detected Servers Linux Root Storage:</b> <span id="AllCollectionLinuxRootStorage">{{ body.TotalStorage.TotalCollectionLinuxRootStorage }} bytes</span></div>
  			    <div class="alert alert-info" role="alert" style="padding: 0px; margin-bottom: 1px;"><b>All Detected Servers Windows System Storage:</b> <span id="AllCollectionWindowsSystemStorage">{{ body.TotalStorage.TotalCollectionWindowsSystemStorage }} bytes</span></div>
            <script type="text/javascript">
              var myTotalStorageWorker;
              var myTotalLinuxRootStorageWorker;
              var myTotalWindowsSystemStorageWorker;
              if(typeof(Worker) !== "undefined") {
                  if(typeof(myTotalStorageWorker) == "undefined") {
                      myTotalStorageWorker = new Worker("/js/byteConverterWorker.js");
                      myTotalLinuxRootStorageWorker = new Worker("/js/byteConverterWorker.js");
                      myTotalWindowsSystemStorageWorker = new Worker("/js/byteConverterWorker.js");

                      myTotalStorageWorker.postMessage({{ body.TotalStorage.TotalCollectionStorage }});
                      myTotalLinuxRootStorageWorker.postMessage({{ body.TotalStorage.TotalCollectionLinuxRootStorage }});
                      myTotalWindowsSystemStorageWorker.postMessage({{ body.TotalStorage.TotalCollectionWindowsSystemStorage }});
                  }
                  myTotalStorageWorker.onmessage = function(event) {
                      $("#AllTotalStorage").fadeOut('slow', function () {
                        $(this).html(event.data[0].toFixed(event.data[1] ? 0 : 2) + (event.data[1] ? ' bytes' : ' MB'));
                        $(this).fadeIn();
                      });
                  };
                  myTotalLinuxRootStorageWorker.onmessage = function(event) {
                      $("#AllCollectionLinuxRootStorage").fadeOut('slow', function () {
                        $(this).html(event.data[0].toFixed(event.data[1] ? 0 : 2) + (event.data[1] ? ' bytes' : ' MB'));
                        $(this).fadeIn();
                      });
                  };
                  myTotalWindowsSystemStorageWorker.onmessage = function(event) {
                      $("#AllCollectionWindowsSystemStorage").fadeOut('slow', function () {
                        $(this).html(event.data[0].toFixed(event.data[1] ? 0 : 2) + (event.data[1] ? ' bytes' : ' MB'));
                        $(this).fadeIn();
                      });
                  };
              } else {
                  //Sorry! No Web Worker support
              }
            </script>
            <div class="panel panel-default">
              <div class="panel-body" style="padding: 4px;">
                <table class="table table-hover">
                  <tr>
                    <th>Name</th>
                    <th>Total Capacity</th>
                    <th>Disks</th>
                    <th>OS</th>
                  </tr>
                  <tr class="selectedServers" ng-animate="{enter:'insert-enter', leave:''}" style="-webkit-transition-delay:500ms" ng-repeat="server in servers ">
                    <td valign="top">{[{ server.Name }]}</td>
                    <td valign="top">{[{ (server.TotalStorage / 1024 / 1024) | number:2  }]} MB</td>
                    <td><div ng-repeat="disk in server.Disks"><div class="label label-default">{[{ disk.DiskPath | capitalize}]}</div>&nbsp;<span class="label label-default" style="background-color:white; color: black; font-weight: normal;">{[{ (disk.Capacity / 1024 / 1024) | number:2 }]} MB</span></div></td>
                    <td valign="top">{[{ server.OSFamily | capitalize }]}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
  				<div class="col-md-2">					
  				  {{> serverList body }}
            <div class="panel panel-primary" id="selectedDataPanel">
              <div class="panel-heading">
                <h4 class="panel-title">Selected servers</h4>
              </div>
              <div class="alert alert-info" role="alert" style="padding: 0px; margin-bottom: 1px;"><img height="32" width="32" src="/images/disk-icon.png" title="Selected total storage" /><span class="pull-right" style="margin-top:7px; margin-right:4px;" title="Selected total storage">{[{ SelectedStorage / 1024 / 1024 | number:2 }]} MB </span></div>          
              <div class="alert alert-info" role="alert" style="padding: 0px; margin-bottom: 1px;"><img height="32" width="32" src="/images/linux-icon.png" title="Selected total Linux root storage" /><span class="pull-right" style="margin-top:7px; margin-right:4px;" title="Selected total Linux root storage">{[{ SelectedLinuxRootStorage / 1024 / 1024 | number:2 }]} MB </span></div>
              <div class="alert alert-info" role="alert" style="padding: 0px; margin-bottom: 1px;"><img height="32" width="32" src="/images/windows-icon.png" title="Selected total Windows system storage" /><span class="pull-right" style="margin-top:7px; margin-right:4px;" title="Selected total Windows system storage">{[{ SelectedWindowsSystemStorage / 1024 / 1024 | number:2 }]} MB </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var mySelectServersApp = angular.module('mySelectServersApp', ['ngAnimate']).filter('capitalize', function() {
    return function(input, all) {
      return (!!input) ? input.replace(/([^\W_]+[^\s-]*) */g, function(txt) {
        return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
      }) : '';
    };
  });

  setAngularBracket(mySelectServersApp);
  mySelectServersApp.controller('mySelecedServersCtrl', function($scope) {
    $scope.servers = [];
    $scope.SelectedStorage = 0;
    $scope.SelectedLinuxRootStorage = 0;
    $scope.SelectedWindowsSystemStorage = 0; 
    $scope.selectServer = function(serverName) {
      var ourServer = $.grep(ourServerData.Collection, function (element, index) {
        return element.Name == serverName;
      })[0];
      if($.inArray(ourServer, $scope.servers) != -1) {
        $scope.servers = $.grep($scope.servers, function(server) { 
          return server.Name != ourServer.Name; 
        });
        $scope.SelectedStorage -= ourServer.TotalStorage;
        if(ourServer.OSFamily.match(/linux/gi)) {
          $scope.SelectedLinuxRootStorage -= ourServer.TotalSystemStorage;
        } else {
          $scope.SelectedWindowsSystemStorage -= ourServer.TotalSystemStorage;          
        }
      } else {
        $scope.servers.push(ourServer);
        $scope.SelectedStorage += ourServer.TotalStorage;
        if(ourServer.OSFamily.match(/linux/gi)) {
          $scope.SelectedLinuxRootStorage += ourServer.TotalSystemStorage;
        } else {
          $scope.SelectedWindowsSystemStorage += ourServer.TotalSystemStorage;          
        }
      }
    }
  });
</script>