.myBorderSmall { border:1px solid; border-radius:15px; }
.myHandCursor { cursor: pointer; }

.selectedServers.ng-enter {
  -webkit-transition-duration: 1000ms;
  opacity:0;    
}
.selectedServers.ng-enter-active {
  -webkit-transition-duration: 500ms;
  opacity:1;
}
.selectedServers.ng-leave {
  -webkit-transition-duration: 600ms;
  opacity:1;
}
.selectedServers.ng-leave.ng-leave-active {
  -webkit-transition-duration: 200ms;
  opacity:0;
}
.myBtn-blueBackground:hover {
  background-color: rgb(217, 237, 247) !important;
}
.list-group-item-search:hover {
	background-color: #f5f5f5;
}
.list-group-item-search-focus {
	color: #31708f; 
	background-color: #d9edf7 !important; 
	border-color: #bce8f1;
}
