<html>
  <head>
    <title>Disk Reporting Web</title>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/css/standardStyles.css" rel="stylesheet"></link>
    <script src="/js/commonjs.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js" type="text/javascript"></script>
  </head>
  <body>
    {{> header}}

    {{{content}}}

    {{> footer}}
 </body>
</html>